  <div class="blue-back container-fluid">
    <div class="container inline-white">
      <div class="row footer align-items-center garamond inline-white">
        <d class="px-0 mb-0 col white-font p">Copyright © <%= new Date().getFullYear() %></d>
        <p class="px-0 mb-0 col white-font p text-end">BuzzyBees</p>
      </div>
    </div>
  </div>

</body>

</html>